body {
	background:  #000;
	margin: 0;
	padding: 0;
}

.header {
	background: #000 url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
}

.login-form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 900px;
	height: 100vh;
}

.form {
	background: #fff;
	font-family: 'Playfair Display', serif;
	text-align: center;
	width: 300px;
	border-radius: 20px;
	padding: 20px;
}

.form div {
	position: relative;
	margin-bottom: 30px;
}

.form-text {
	text-align: center;
	font-weight: 700;
	font-size: 30px;
}

.form-other a {
	display: block;
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	font-size: 15px;
	color: #000;
	margin-top: 10px;
	transition: .3s;
}

.form-other a:hover {
	color: #009600;
	text-decoration: underline;
}

.form-label {
	position: absolute;
	top: -20px;
	font-size: 15px;
	z-index: 0;
	color: #000;
	transition: .3s;
}

.form-input {
	font-weight: 500;
	font-size: 17px;
	width: 100%;
	padding: 0 0 5px 0;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	background-color: transparent;
	outline: none;
	transition: .3s;
}

.form-input:focus {
	border-bottom: 1px solid #009600;
}

.form-button button{
	padding: auto;
	border: none;
	color: #fff;
	background-color: #646464;
	border-radius: 10px;
	width: 80%;
	height: 35px;
	transition: .3s;
}

.form-button button:hover {
	transform: scale(1.1);
	background-color: #009600;
}

.form-button button:active {
	transform: scale(0.95);
	background-color: #009600;
}
