<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../static/css/mp.css">

	<title>Main_L</title>
</head>
<body>
	<div class="main">
		<h1>
			Эту страницу видят только зарегистрированные и авторизованные пользователи.
		</h1>
	</div>
	<div class="links">
		<div class="links-links">
			<div>
				<a href="sign_in">Sign in</a>
			</div>
			<div>
				<a href="sign_up">Sign up</a>
			</div>
			<div>
				<a href="mp">Main page</a>
			</div>
			<div>
				<a href="logout">Log out</a>
			</div>
		</div>
	</div>
</body>
</html>